*,
* :before,
* :after {
  box-sizing: border-box;
}
html {
  font-size: 16px;
}
body {
  margin: 0;
  background: rgb(32, 35, 41);
  color: rgb(32, 35, 41);
}

}
.hero {
  color: rgb(32, 35, 41);
  background: rgb(255, 255, 255);
  font-size: 2em;
  padding: 20px;
  text-align: center;
}
a {
  text-decoration: none;
}
h3 {font-size: 2em;}
h2 {color: rgb(158, 158, 158);}
.characters {
  background: rgb(32, 35, 41);
  grid gap: 2em;

}
.character {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  border-radius: 1em;
  background: rgb(60, 62, 68);
  color: rgb(255, 255, 255);
}

.header {
  background: rgb(255, 255, 255);
  text-align: right;
  padding: 20px;
}
.header a {
  color: rgb(51, 51, 51);
  text-align: right;
}
.top {
  margin: 0;
  font-size: small;
}
.article h2 {
  color: rgb(255, 255, 255);
}
